/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width:  800px;//$max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}


html {
  box-sizing: border-box;
  font-size: 100%; 
}


.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 15px; /* Space between grid items */
  padding: 10px;
  max-width: 800px; /* Set a max width for the grid container */
  margin: 0 auto; /* Center the grid horizontally */
  width: 100%; /* Ensure it uses full available width within max-width */
}

.image-grid img {
  width: 100%;
  height: 300px; /* Fixed height for uniformity */
  object-fit: cover;
  border-radius: 8px; /* Rounded corners */
  transition: transform 0.3s ease; /* Smooth zoom effect */
}

.image-grid img:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
